.header .nav-mobile .navegation-mobile {
  /* height: 0;
  width: 0;
  -webkit-transition: height 400ms ease;
  transition: height 400ms ease; */
  display: none;
  animation: opacity 800ms ease; 
}

@keyframes opacity{
  0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.main .header .nav-mobile {
  display: none;
}

.center {
  display: none;
}

@media (max-width: 768px) {
  .header .menu {
    display: none;
  }
  .main .header .nav-mobile {
    display: block;
  }

  .header.nav-mobile .navegation-mobile {
    animation: effect 0.5s alternate;
  }

  .header .nav-mobile .navegation-mobile.selecionado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
    position: absolute;
    gap: 15px;
    left: 0;
    width: 100%;
    background-color: white;
  }

  .header .nav-mobile .navegation-mobile li a {
    color: black;
    font-weight: bold;
  }

  @keyframes effect {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .center {
    width: 30px;
    display: block;
  }

  .center:before,
  .center:after,
  .center div {
    background: #ffffff;
    content: "";
    display: block;
    height: 3px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
  }

  .center.selecionado:before {
    transform: translateY(8.5px) rotate(135deg);
  }

  .center.selecionado:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  .center.selecionado div {
    transform: scale(0);
  }
}
